.flexContainer{
    display: flex;
    flex-direction: row;
}

.flexContainer {
    display: flex;
}

.flexItem1 {
    flex-grow: 2;
}

flexItem2 {
    flex-grow: 0;
}

flexItem3 {
    flex-grow: 1;
}


* Flex shrink */
.flexContainer {
    display: flex;
}
.flexItem1{
    flex-shrink: 0;
}
.flexItem2{
    flex-shrink: 2;
}
.flexItem3{
    flex-shrink: 1;
}


