/* Using px */
.gridContainer {
    display: grid;
    /* grid-template-columns: 300px 200px 200px 100px;
    grid-template-rows: 300px 200px; */
}

* Using auto */
.gridContainer {
    display: grid;
    /* grid-template-columns: auto auto auto;
    grid-template-rows: auto; */
}

/* Using fraction */
.gridContainer {
    display: grid;
    /* grid-template-columns: 2fr 1fr 1fr; */
}

/* Using percentage */
.gridContainer {
    display: grid;
    /* grid-template-columns: 50% 30% 10% 10%; */
}

/* Using repeat */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Using gap */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 15px; */
}